.GNB{
    min-height: 50px;
}

.GNB a{
    color:black;
    text-decoration:none;
    cursor:pointer;
}


.GNBTITLE{
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}